{
  "presets": [
    ["env", {
      "targets": {
        "node": 4,
        "browsers": [
          "last 2 versions",
          "Firefox >= 45"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
