parser: '@babel/eslint-parser'
extends: standard
plugins:
  - '@babel/eslint-plugin'
rules:
  prefer-const: off
  no-unused-expressions: off
  import/no-extraneous-dependencies: error
  promise/param-names: off
  multiline-ternary: off
  semi: [error, always]
  yield-star-spacing: [error, after]
  generator-star-spacing:
    - error
    - before: false
      after: false
      named: after
  space-before-function-paren:
    - error
    - anonymous: never
      asyncArrow: always
      named: never
