parser: '@babel/eslint-parser'
parserOptions:
  requireConfigFile: false
  babelOptions:
    presets:
      - '@babel/preset-react'
extends: standard
plugins:
  - '@babel/eslint-plugin'
  - react
rules:
  prefer-const: off
  no-unused-expressions: off
  react/jsx-uses-react: error
  react/jsx-uses-vars: error
  import/no-extraneous-dependencies: error
  promise/param-names: off
  multiline-ternary: off
  semi: [error, always]
  yield-star-spacing: [error, after]
  generator-star-spacing:
    - error
    - before: false
      after: false
      named: after
  space-before-function-paren:
    - error
    - anonymous: never
      asyncArrow: always
      named: never

overrides:
  - files: ['*.cjs']
    parserOptions:
      sourceType: script
      requireConfigFile: false
    env:
      commonjs: true
    rules:
      '@babel/no-invalid-this': off
