@browserstack:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org
auto-install-peers=true
link-workspace-packages=false
save-exact=true
legacy-peer-deps=true
strict-ssl=true
audit-level=high
