@browserstack:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org
auto-install-peers=true
link-workspace-packages=false
save-exact=true
legacy-peer-deps=true
