@browserstack:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org
auto-install-peers=true
link-workspace-packages=false
save-exact=true
legacy-peer-deps=true
