{
  "include": ["src"],
  "exclude": [
    "src/components",
    "src/hooks",
    "src/styles",
    "src/server/snapshots.cjs"
  ],
  "check-coverage": true,
  "branches": 95,
  "lines": 100,
  "functions": 100,
  "statements": 99
}
