/* tailwind: gray */
/* tailwind: blue */
/* tailwind: red */
/* tailwind: green */
/* tailwind: yellow */
/* tailwind: sky */
@layer base {
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  body {
    @apply text-neutral-default antialiased surface-strong;
  }
  :root {
    /* OLD TOKENS START */
    /* tailwind: gray */
    --colors-base-50: #f9fafb;
    --colors-base-100: #f3f4f6;
    --colors-base-200: #e5e7eb;
    --colors-base-300: #d1d5db;
    --colors-base-400: #9ca3af;
    --colors-base-500: #6b7280;
    --colors-base-600: #4b5563;
    --colors-base-700: #374151;
    --colors-base-800: #1f2937;
    --colors-base-900: #111827;
    /* tailwind: blue */
    --colors-brand-50: #eff6ff;
    --colors-brand-100: #dbeafe;
    --colors-brand-200: #bfdbfe;
    --colors-brand-300: #93c5fd;
    --colors-brand-400: #60a5fa;
    --colors-brand-500: #3b82f6;
    --colors-brand-600: #2563eb;
    --colors-brand-700: #1d4ed8;
    --colors-brand-800: #1e40af;
    --colors-brand-900: #1e3a8a;
    /* tailwind: red */
    --colors-danger-50: #fef2f2;
    --colors-danger-100: #fee2e2;
    --colors-danger-200: #fecaca;
    --colors-danger-300: #fca5a5;
    --colors-danger-400: #f87171;
    --colors-danger-500: #ef4444;
    --colors-danger-600: #dc2626;
    --colors-danger-700: #b91c1c;
    --colors-danger-800: #991b1b;
    --colors-danger-900: #7f1d1d;
    /* tailwind: green */
    --colors-success-50: #ecfdf5;
    --colors-success-100: #d1fae5;
    --colors-success-200: #a7f3d0;
    --colors-success-300: #6ee7b7;
    --colors-success-400: #34d399;
    --colors-success-500: #10b981;
    --colors-success-600: #059669;
    --colors-success-700: #047857;
    --colors-success-800: #065f46;
    --colors-success-900: #064e3b;
    /* tailwind: yellow */
    --colors-attention-50: #fffbeb;
    --colors-attention-100: #fef3c7;
    --colors-attention-200: #fde68a;
    --colors-attention-300: #fcd34d;
    --colors-attention-400: #fbbf24;
    --colors-attention-500: #f59e0b;
    --colors-attention-600: #d97706;
    --colors-attention-700: #b45309;
    --colors-attention-800: #92400e;
    --colors-attention-900: #78350f;
    /* tailwind: sky */
    --colors-info-50: #f0f9ff;
    --colors-info-100: #e0f2fe;
    --colors-info-200: #bae6fd;
    --colors-info-300: #7dd3fc;
    --colors-info-400: #38bdf8;
    --colors-info-500: #0ea5e9;
    --colors-info-600: #0284c7;
    --colors-info-700: #0369a1;
    --colors-info-800: #075985;
    --colors-info-900: #0c4a6e;
    /* OLD TOKENS END */
    --colors-white: #ffffff;
    /* tailwind: pink */
    --colors-pink-100: #FCE7F3;
    --colors-pink-700: #BE185D;
    --colors-pink-800: #9D174D;
    /* tailwind: sky */
    --colors-sky-400: #38BDF8;
    /* code-snippet colors */
    --code-snippet-bg-primary: var(--colors-white);
    --code-snippet-bg-2: var(--colors-white);
    --code-snippet-bg-3: #C6C7C7;
    --code-snippet-bg-4: #FED5DA;
    --code-snippet-bg-5: #CDF7D8;
    --code-snippet-text-primary: var(--colors-base-900);
    --code-snippet-text-secondary: var(--colors-base-700);
    --code-snippet-syntax-1: var(--colors-attention-700);
    --code-snippet-syntax-2: #A21CAF;
    --code-snippet-syntax-3: #C2410C;
    --code-snippet-syntax-4: #BE123C;
    --code-snippet-syntax-5: var(--colors-brand-700);
    --code-snippet-syntax-6: #0369A1;
    --code-snippet-syntax-7: #4D7C0F;
    --code-snippet-syntax-8: #D9D9D9;
    --code-snippet-syntax-9: #6B7280;
    --code-snippet-border-1: #F2F2F2;
    /* RTE code colors */
    --rte-code-green:	#0077AA;
    --rte-code-dark-green:	#669900;
    --rte-code-pink:	#990055;
    --rte-code-light-pink:	#DD4A68;
    --rte-code-slate-gray:	#708090;
    --rte-code-brown:	#9A6E3A;
    --rte-code-orange:	#EE9900;
    --rte-code-gray:	#777777;
    --rte-code-punctuation: #999999;
    /* NEW TOKENS START */
    /* Background tokens */
    /* Gray */
    --bg-neutral-default: var(--colors-white);
    --bg-neutral-strong: var(--colors-base-50);
    --bg-neutral-stronger: var(--colors-base-100);
    --bg-neutral-strongest: var(--colors-base-200);
    --bg-neutral-inverse-weakest: var(--colors-base-500);
    --bg-neutral-inverse-weaker: var(--colors-base-600);
    --bg-neutral-inverse-weak: var(--colors-base-800);
    --bg-neutral-inverse-default: var(--colors-base-900);
    --bg-neutral-default-hover: var(--colors-base-50);
    --bg-neutral-default-disabled: var(--colors-base-50);
    --bg-neutral-stronger-hover: var(--colors-base-200);
    --bg-neutral-stronger-disabled: var(--colors-base-200);
    --bg-neutral-strongest-hover: var(--colors-base-200);
    --bg-neutral-strongest-disabled: var(--colors-base-100);
    --bg-neutral-strong-hover: var(--colors-base-100);
    --bg-neutral-inverse-weaker-hover: var(--colors-base-700);
    /* Amber */
    --bg-attention-weakest: var(--colors-attention-50);
    --bg-attention-weaker: var(--colors-attention-100);
    --bg-attention-weak: var(--colors-attention-300);
    --bg-attention-default: var(--colors-attention-600);
    --bg-attention-stronger: var(--colors-attention-800);
    --bg-attention-weaker-disabled: var(--colors-attention-50);
    --bg-attention-weaker-hover: var(--colors-attention-200);
    --bg-attention-weak-disabled: var(--colors-attention-200);
    --bg-attention-weak-hover: var(--colors-attention-400);
    --bg-attention-weakest-hover: var(--colors-attention-100);
    /* Blue */
    --bg-brand-weakest: var(--colors-brand-50);
    --bg-brand-weaker: var(--colors-brand-100);
    --bg-brand-weak: var(--colors-brand-300);
    --bg-brand-default: var(--colors-brand-600);
    --bg-brand-stronger: var(--colors-brand-800);
    --bg-brand-weaker-disabled: var(--colors-brand-50);
    --bg-brand-weaker-hover: var(--colors-brand-200);
    --bg-brand-default-hover: var(--colors-brand-700);
    --bg-brand-default-disabled: var(--colors-brand-300);
    --bg-brand-weakest-hover: var(--colors-brand-100);
    /* Red */
    --bg-danger-weakest: var(--colors-danger-50);
    --bg-danger-weaker: var(--colors-danger-100);
    --bg-danger-default: var(--colors-danger-600);
    --bg-danger-stronger: var(--colors-danger-800);
    --bg-danger-default-hover: var(--colors-danger-700);
    --bg-danger-default-disabled: var(--colors-danger-500);
    --bg-danger-weaker-hover: var(--colors-danger-200);
    --bg-danger-weaker-disabled: var(--colors-danger-50);
    --bg-danger-weakest-hover: var(--colors-danger-100);
    /* Green */
    --bg-success-weakest: var(--colors-success-50);
    --bg-success-weaker: var(--colors-success-100);
    --bg-success-default: var(--colors-success-600);
    --bg-success-strong: var(--colors-success-700);
    --bg-success-stronger: var(--colors-success-800);
    --bg-success-weaker-hover: var(--colors-success-200);
    --bg-success-weaker-disabled: var(--colors-success-50);
    --bg-success-default-hover: var(--colors-success-700);
    --bg-success-default-disabled: var(--colors-success-500);
    --bg-success-weakest-hover: var(--colors-success-100);
    --bg-success-strong-hover: var(--colors-success-800);
    --bg-success-strong-disabled: var(--colors-success-500);
    /* Icon tokens */
    /* Gray */
    --icon-neutral-weakest: var(--colors-base-200);
    --icon-neutral-weaker: var(--colors-base-400);
    --icon-neutral-weak: var(--colors-base-500);
    --icon-neutral-default: var(--colors-base-600);
    --icon-neutral-strong: var(--colors-base-700);
    --icon-neutral-strongest: var(--colors-base-900);
    --icon-neutral-inverse-default: var(--colors-white);
    --icon-neutral-inverse-weaker: var(--colors-base-200);
    /* Amber */
    --icon-attention-weaker: var(--colors-attention-400);
    --icon-attention-weak: var(--colors-attention-500);
    --icon-attention-default: var(--colors-attention-600);
    --icon-attention-strong: var(--colors-attention-700);
    --icon-attention-stronger: var(--colors-attention-800);
    --icon-attention-strongest: var(--colors-attention-900);
    --icon-attention-inverse-default: var(--colors-attention-900);
    /* Blue */
    --icon-brand-weakest: var(--colors-brand-200);
    --icon-brand-weaker: var(--colors-brand-400);
    --icon-brand-weak: var(--colors-brand-500);
    --icon-brand-default: var(--colors-brand-600);
    --icon-brand-strong: var(--colors-brand-700);
    --icon-brand-stronger: var(--colors-brand-800);
    /* Red */
    --icon-danger-weakest: var(--colors-danger-200);
    --icon-danger-weaker: var(--colors-danger-400);
    --icon-danger-weak: var(--colors-danger-500);
    --icon-danger-default: var(--colors-danger-600);
    --icon-danger-strong: var(--colors-danger-700);
    --icon-danger-stronger: var(--colors-danger-800);
    /* Green */
    --icon-success-weakest: var(--colors-success-200);
    --icon-success-weaker: var(--colors-success-400);
    --icon-success-weak: var(--colors-success-500);
    --icon-success-default: var(--colors-success-600);
    --icon-success-strong: var(--colors-success-700);
    --icon-success-stronger: var(--colors-success-800);
    /* Text tokens */
    /* Gray */
    --text-neutral-weakest: var(--colors-base-400);
    --text-neutral-weaker: var(--colors-base-500);
    --text-neutral-weak: var(--colors-base-700);
    --text-neutral-default: var(--colors-base-900);
    --text-neutral-inverse-default: var(--colors-white);
    --text-neutral-inverse-weak: var(--colors-base-50);
    --text-neutral-inverse-weakest: var(--colors-base-300);
    /* Amber */
    --text-attention-weaker: var(--colors-attention-400);
    --text-attention-weak: var(--colors-attention-500);
    --text-attention-default: var(--colors-attention-700);
    --text-attention-strong: var(--colors-attention-800);
    --text-attention-stronger: var(--colors-attention-900);
    --text-attention-inverse-default: var(--colors-attention-900);
    /* Blue */
    --text-brand-weaker: var(--colors-brand-100);
    --text-brand-weak: var(--colors-brand-300);
    --text-brand-default: var(--colors-brand-600);
    --text-brand-strong: var(--colors-brand-700);
    --text-brand-stronger: var(--colors-brand-800);
    --text-brand-strongest:var(--colors-brand-900);
    /* Red */
    --text-danger-weaker: var(--colors-danger-200);
    --text-danger-weak: var(--colors-danger-300);
    --text-danger-default: var(--colors-danger-600);
    --text-danger-strong: var(--colors-danger-700);
    --text-danger-stronger: var(--colors-danger-800);
    --text-danger-strongest: var(--colors-danger-900);
    /* Green */
    --text-success-weaker: var(--colors-success-200);
    --text-success-weak: var(--colors-success-300);
    --text-success-default: var(--colors-success-700);
    --text-success-strong: var(--colors-success-800);
    --text-success-stronger: var(--colors-success-900);
    /* Border tokens */
    /* Gray */
    --border-neutral-weak: var(--colors-base-100);
    --border-neutral-default: var(--colors-base-200);
    --border-neutral-strong: var(--colors-base-300);
    --border-neutral-stronger: var(--colors-base-500);
    --border-neutral-strongest: var(--colors-base-700);
    --border-neutral-inverse-default:var(--colors-white);
    /* Amber */
    --border-attention-default: var(--colors-attention-400);
    --border-attention-stronger:var(--colors-attention-600);
    /* Blue */
    --border-brand-weaker: var(--colors-brand-200);
    --border-brand-weak: var(--colors-brand-300);
    --border-brand-default: var(--colors-brand-400);
    --border-brand-strong: var(--colors-brand-500);
    --border-brand-stronger: var(--colors-brand-600);
    --border-brand-strongest: var(--colors-brand-700);
    /* Red */
    --border-danger-weak: var(--colors-danger-300);
    --border-danger-default: var(--colors-danger-400);
    --border-danger-strong: var(--colors-danger-500);
    --border-danger-stronger: var(--colors-danger-600);
    /* Green */
    --border-success-default: var(--colors-success-400);
    --border-success-stronger: var(--colors-success-600);
    /* Others */
    /* Surface */
    --surface-default: var(--colors-white);
    --surface-strong: var(--colors-base-50);
    /* Background */
    --bg-input-default: var(--colors-white);
    --bg-input-default-hover: var(--colors-base-50);
    --bg-input-default-disabled: var(--colors-base-50);
    --bg-raised-default: var(--colors-white);
    --bg-raised-default-hover: var(--colors-base-50);
    /* Chart */
    --chart-category-1: #2563EB;
    --chart-category-2: #19A699;
    --chart-category-3: #807EF2;
    --chart-category-4: #DD7529;
    --chart-category-5: #DB6380;
    --chart-category-6: #339AE3;
    --chart-category-7: #959595;
    --chart-category-8: #148BAF;
    --chart-category-9: #26A96A;
    --chart-category-10: #C48600;
    --chart-category-10-inaccessible: #F59E0B;
    --chart-category-11: #C772DC;
    --chart-category-12: #E54921;
    --chart-danger: #E54921;
    --chart-success: #26A96A;
    --chart-attention: #C48600;
    --chart-attention-inaccessible: #F59E0B;
    --chart-neutral: #959595;
    /* NEW TOKENS END */
  }
  :root [type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
  :root [type=checkbox]:disabled:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23f9fafb' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
  .dark {
    /* tailwind: blue */
    --colors-brand-950: #172554;
    /* tailwind: red */
    --colors-danger-950: #450a0a;
    /* tailwind: green */
    --colors-success-950: #022c22;
    /* tailwind: yellow */
    --colors-attention-950: #451a03;
    /* tailwind: pink */
    --colors-pink-300: #F9A8D4;
    --colors-pink-950: #500724;
    /* tailwind: zinc */
    --colors-zinc-50: #fafafa;
    --colors-zinc-100: #f4f4f5;
    --colors-zinc-200: #e4e4e7;
    --colors-zinc-300: #d4d4d8;
    --colors-zinc-400: #a1a1aa;
    --colors-zinc-500: #71717a;
    --colors-zinc-600: #52525b;
    --colors-zinc-700: #373737;
    --colors-zinc-800: #27272a;
    --colors-zinc-900: #18181b;
    --colors-zinc-950: #09090b;
    /* tailwind: sky */
    --colors-sky-600: #0284C7;
    /* code-snippet colors */
    --code-snippet-bg-primary: var(--colors-zinc-800);
    --code-snippet-bg-2: var(--colors-zinc-800);
    --code-snippet-bg-3: var(--colors-zinc-700);
    --code-snippet-bg-4: var(--colors-danger-950);
    --code-snippet-bg-5: var(--colors-attention-950);
    --code-snippet-text-primary: var(--colors-zinc-300);
    --code-snippet-text-secondary: var(--colors-zinc-300);
    --code-snippet-syntax-1: var(--colors-attention-500);
    --code-snippet-syntax-2: #E879F9;
    --code-snippet-syntax-3: #F97316;
    --code-snippet-syntax-4: #FB7185;
    --code-snippet-syntax-5: var(--colors-brand-300);
    --code-snippet-syntax-6: #38BDF8;
    --code-snippet-syntax-7: #84CC16;
    --code-snippet-syntax-8: #71717A;
    --code-snippet-syntax-9: #9CA3AF;
    --code-snippet-border-1: #3F3F46;
    /* RTE code colors */
    --rte-code-green:	#38BDF8;
    --rte-code-dark-green:	#84CC16;
    --rte-code-pink:	#E879F9;
    --rte-code-light-pink:	#CA808F;
    --rte-code-slate-gray:	#D4D4D8;
    --rte-code-brown:	#BC9B74;
    --rte-code-orange:	#C1800C;
    --rte-code-gray:	#A1A1AA;
    --rte-code-punctuation: #A1A1AA;
    /* List tree folder icon */
    --list-tree-folder-icon: var(--colors-sky-600);
    /* NEW TOKENS START */
    /* Background tokens */
    /* Gray */
    --bg-neutral-default: var(--colors-zinc-900);
    --bg-neutral-strong: var(--colors-zinc-800);
    --bg-neutral-stronger: var(--colors-zinc-700);
    --bg-neutral-strongest: var(--colors-zinc-600);
    --bg-neutral-inverse-weakest: var(--colors-zinc-500);
    --bg-neutral-inverse-weaker: var(--colors-zinc-400);
    --bg-neutral-inverse-weak: var(--colors-zinc-300);
    --bg-neutral-inverse-default: var(--colors-zinc-300);
    --bg-neutral-default-hover: var(--colors-zinc-800);
    --bg-neutral-default-disabled: var(--colors-zinc-800);
    --bg-neutral-stronger-hover: var(--colors-zinc-600);
    --bg-neutral-stronger-disabled: var(--colors-zinc-600);
    --bg-neutral-strongest-hover: var(--colors-zinc-500);
    --bg-neutral-strongest-disabled: var(--colors-zinc-600);
    --bg-neutral-strong-hover: var(--colors-zinc-700);
    --bg-neutral-inverse-weaker-hover: var(--colors-zinc-400);
    /* Amber */
    --bg-attention-weakest: var(--colors-attention-950);
    --bg-attention-weaker: var(--colors-attention-950);
    --bg-attention-weak: var(--colors-attention-500);
    --bg-attention-default: var(--colors-attention-300);
    --bg-attention-stronger: var(--colors-attention-300);
    --bg-attention-weaker-disabled: var(--colors-attention-950);
    --bg-attention-weaker-hover: var(--colors-attention-900);
    --bg-attention-weak-disabled: var(--colors-attention-950);
    --bg-attention-weak-hover: var(--colors-attention-400);
    --bg-attention-weakest-hover: var(--colors-attention-900);
    /* Blue */
    --bg-brand-weakest: var(--colors-brand-950);
    --bg-brand-weaker: var(--colors-brand-950);
    --bg-brand-weak: var(--colors-brand-700);
    --bg-brand-default: var(--colors-brand-400);
    --bg-brand-stronger: var(--colors-brand-300);
    --bg-brand-weaker-disabled: var(--colors-brand-950);
    --bg-brand-weaker-hover: var(--colors-brand-900);
    --bg-brand-default-hover: var(--colors-brand-300);
    --bg-brand-default-disabled: var(--colors-brand-900);
    --bg-brand-weakest-hover: var(--colors-brand-900);
    /* Red */
    --bg-danger-weakest: var(--colors-danger-950);
    --bg-danger-weaker: var(--colors-danger-950);
    --bg-danger-default: var(--colors-danger-400);
    --bg-danger-stronger: var(--colors-danger-300);
    --bg-danger-default-hover: var(--colors-danger-300);
    --bg-danger-default-disabled: var(--colors-danger-950);
    --bg-danger-weaker-hover: var(--colors-danger-900);
    --bg-danger-weaker-disabled: var(--colors-danger-950);
    --bg-danger-weakest-hover: var(--colors-danger-900);
    /* Green */
    --bg-success-weakest: var(--colors-success-950);
    --bg-success-weaker: var(--colors-success-950);
    --bg-success-default: var(--colors-success-600);
    --bg-success-strong: var(--colors-success-500);
    --bg-success-stronger: var(--colors-success-400);
    --bg-success-weaker-hover: var(--colors-success-900);
    --bg-success-weaker-disabled: var(--colors-success-950);
    --bg-success-default-hover: var(--colors-success-500);
    --bg-success-default-disabled: var(--colors-success-700);
    --bg-success-weakest-hover: var(--colors-success-900);
    --bg-success-strong-hover: var(--colors-success-400);
    --bg-success-strong-disabled: var(--colors-success-900);
    /* Icon tokens */
    /* Gray */
    --icon-neutral-weakest: var(--colors-zinc-600);
    --icon-neutral-weaker: var(--colors-zinc-500);
    --icon-neutral-weak: var(--colors-zinc-400);
    --icon-neutral-default: var(--colors-zinc-400);
    --icon-neutral-strong: var(--colors-zinc-300);
    --icon-neutral-strongest: var(--colors-zinc-300);
    --icon-neutral-inverse-default: var(--colors-zinc-900);
    --icon-neutral-inverse-weaker: var(--colors-zinc-600);
    /* Amber */
    --icon-attention-weaker: var(--colors-attention-700);
    --icon-attention-weak: var(--colors-attention-700);
    --icon-attention-default: var(--colors-attention-500);
    --icon-attention-strong: var(--colors-attention-400);
    --icon-attention-stronger: var(--colors-attention-300);
    --icon-attention-strongest: var(--colors-attention-300);
    --icon-attention-inverse-default: var(--colors-attention-950);
    /* Blue */
    --icon-brand-weakest: var(--colors-brand-700);
    --icon-brand-weaker: var(--colors-brand-500);
    --icon-brand-weak: var(--colors-brand-400);
    --icon-brand-default: var(--colors-brand-400);
    --icon-brand-strong: var(--colors-brand-300);
    --icon-brand-stronger: var(--colors-brand-300);
    /* Red */
    --icon-danger-weakest: var(--colors-danger-800);
    --icon-danger-weaker: var(--colors-danger-700);
    --icon-danger-weak: var(--colors-danger-400);
    --icon-danger-default: var(--colors-danger-400);
    --icon-danger-strong: var(--colors-danger-300);
    --icon-danger-stronger: var(--colors-danger-200);
    /* Green */
    --icon-success-weakest: var(--colors-success-700);
    --icon-success-weaker: var(--colors-success-600);
    --icon-success-weak: var(--colors-success-500);
    --icon-success-default: var(--colors-success-500);
    --icon-success-strong: var(--colors-success-500);
    --icon-success-stronger: var(--colors-success-200);
    /* Text tokens */
    /* Gray */
    --text-neutral-weakest: var(--colors-zinc-500);
    --text-neutral-weaker: var(--colors-zinc-400);
    --text-neutral-weak: var(--colors-zinc-300);
    --text-neutral-default: var(--colors-zinc-300);
    --text-neutral-inverse-default: var(--colors-zinc-900);
    --text-neutral-inverse-weak: var(--colors-zinc-800);
    --text-neutral-inverse-weakest: var(--colors-zinc-800);
    /* Amber */
    --text-attention-weaker: var(--colors-attention-800);
    --text-attention-weak: var(--colors-attention-800);
    --text-attention-default: var(--colors-attention-500);
    --text-attention-strong: var(--colors-attention-400);
    --text-attention-stronger: var(--colors-attention-200);
    --text-attention-inverse-default: var(--colors-attention-950);
    /* Blue */
    --text-brand-weaker: var(--colors-brand-700);
    --text-brand-weak: var(--colors-brand-700);
    --text-brand-default: var(--colors-brand-400);
    --text-brand-strong: var(--colors-brand-300);
    --text-brand-stronger: var(--colors-brand-200);
    --text-brand-strongest:var(--colors-brand-200);
    /* Red */
    --text-danger-weaker: var(--colors-danger-800);
    --text-danger-weak: var(--colors-danger-800);
    --text-danger-default: var(--colors-danger-400);
    --text-danger-strong: var(--colors-danger-400);
    --text-danger-stronger: var(--colors-danger-300);
    --text-danger-strongest: var(--colors-danger-300);
    /* Green */
    --text-success-weaker: var(--colors-success-700);
    --text-success-weak: var(--colors-success-700);
    --text-success-default: var(--colors-success-400);
    --text-success-strong: var(--colors-success-300);
    --text-success-stronger: var(--colors-success-200);
    /* Border tokens */
    /* Gray */
    --border-neutral-weak: var(--colors-zinc-800);
    --border-neutral-default: var(--colors-zinc-700);
    --border-neutral-strong: var(--colors-zinc-600);
    --border-neutral-stronger: var(--colors-zinc-500);
    --border-neutral-strongest: var(--colors-zinc-400);
    --border-neutral-inverse-default:var(--colors-zinc-800);
    /* Amber */
    --border-attention-default: var(--colors-attention-800);
    --border-attention-stronger:var(--colors-attention-600);
    /* Blue */
    --border-brand-weaker: var(--colors-brand-800);
    --border-brand-weak: var(--colors-brand-600);
    --border-brand-default: var(--colors-brand-600);
    --border-brand-strong: var(--colors-brand-400);
    --border-brand-stronger: var(--colors-brand-400);
    --border-brand-strongest: var(--colors-brand-300);
    /* Red */
    --border-danger-weak: var(--colors-danger-800);
    --border-danger-default: var(--colors-danger-800);
    --border-danger-strong: var(--colors-danger-700);
    --border-danger-stronger: var(--colors-danger-700);
    /* Green */
    --border-success-default: var(--colors-success-600);
    --border-success-stronger: var(--colors-success-400);
    /* Others */
    /* Surface */
    --surface-default: var(--colors-zinc-900);
    --surface-strong: var(--colors-zinc-950);
    /* Background */
    --bg-input-default: var(--colors-zinc-800);
    --bg-input-default-hover: var(--colors-zinc-700);
    --bg-input-default-disabled: var(--colors-zinc-700);
    --bg-raised-default: var(--colors-zinc-800);
    --bg-raised-default-hover: var(--colors-zinc-700);
    /* Chart */
    --chart-category-1: #3A6DDD;
    --chart-category-2: #1B8980;
    --chart-category-3: #7C61E6;
    --chart-category-4: #C16920;
    --chart-category-5: #B95478;
    --chart-category-6: #3597DA;
    --chart-category-7: #7F8083;
    --chart-category-8: #0189BF;
    --chart-category-9: #309552;
    --chart-category-10: #CB8702;
    --chart-category-10-inaccessible: #CB8702;
    --chart-category-11: #A263B0;
    --chart-category-12: #B44740;
    --chart-danger: #B44740;
    --chart-success: #359C58;
    --chart-attention: #CB8702;
    --chart-attention-inaccessible: #CB8702;
    --chart-neutral: #7F8083;
    /* NEW TOKENS END */
    color-scheme: dark;
  }
  .dark [type=checkbox]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%2327272a' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
  .dark [type=checkbox]:disabled:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23373737' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
