name: Lint
on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}/node-20/${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}/node-20/
      - run: yarn
        env:
          PERCY_POSTINSTALL_BROWSER: true
      - run: yarn lint
