name: Lint
on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}/node-14/${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}/node-14/
      - run: yarn
        env:
          PERCY_POSTINSTALL_BROWSER: true
      - run: yarn lint
