name: Lint
on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}/node-22/${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}/node-22/
      - run: yarn
        env:
          PERCY_POSTINSTALL_BROWSER: true
      - run: yarn lint
