name: Test
on:
  push:
    # branches: [master]
  workflow_dispatch:
    inputs:
      branch:
        required: false
        type: string
        default: master
jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [14]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}/node-${{ matrix.node }}/${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}/node-${{ matrix.node }}/
      - run: yarn
        env:
          PERCY_POSTINSTALL_BROWSER: true
      - name: Set up @percy/cli from git
        # if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          cd /tmp
          git clone --branch master --depth 1 https://github.com/percy/cli
          cd cli
          PERCY_PACKAGES=`find packages -type d -depth 1 | sed -e 's/packages/@percy/g' | tr '\n' ' '`
          git log -1
          yarn
          yarn build
          yarn global:link
          cd ${{ github.workspace }} 
          echo "Packages $PERCY_PACKAGES"
          yarn link `echo $PERCY_PACKAGES`
          npx percy --version
      - run: yarn test:coverage
